{{#each}}
<tr {{action 'editExercise' this on='doubleClick'}}>
  <td>
    {{#if isEditing}}
      <form {{action 'updateExercise' this on='submit'}}>
        {{input value=name class='form-control'}}
      </form>
    {{else}}
      {{name}}
    {{/if}}
  </td>
  <td>
    {{#if isEditing}}
      <form {{action 'updateExercise' this on='submit'}}>
        {{input value=duration class='form-control'}}
      </form>
    {{else}}
      {{duration}}
    {{/if}}
  </td>
  <td>
    {{#if isEditing}}
      <form {{action 'updateExercise' this on='submit'}}>
        {{input value=weight class='form-control'}}
      </form>
    {{else}}
      {{weight}}
    {{/if}}
  </td>
</tr>
{{/each}}
