<header class="bar bar-nav">
  {{#link-to prevDay class="btn btn-nav btn-link pull-left"}}
    <span class="icon icon-left-nav"></span> {{prevDay}}
  {{/link-to}}

  {{#link-to nextDay class="btn btn-nav btn-link pull-right"}}
    {{nextDay}} <span class="icon icon-right-nav"></span>
  {{/link-to}}

  <h1 class="title">{{currentDay}}</h1>
</header>

<div class="content">
  <div>
    <ul class='table-view'>
      {{#each assignedWorkouts}}
        <li class='table-view-cell'>
          {{name}}
          <div class="toggle active">
            <div class="toggle-handle"></div>
          </div>
        </li>
      {{/each}}

      <li class='table-view-divider'>Other workouts</li>

      {{#each otherWorkouts}}
        <li class='table-view-cell'>
          {{name}}
          <div class="toggle">
            <div class="toggle-handle"></div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
